/* Signup.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: calc(100vh - 100px); /* Adjust height as needed */
    background-image: url('..\\..\\public\\signup_background.jpg'); /* Adjust path if necessary */
    background-size: cover;
    background-position: center;
  }
  
  .signup-form, .otp-form {
    width: 350px;
    padding: 20px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: #c39ae4,0.8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #97d2e83f;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3f8ee2;
    color: #fff,0.5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #60768e;
  }
  
  .message {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #dc3545; /* Bootstrap's danger color */
  }
  